<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.here.app.tcs">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--To allow starting foreground services on Android P+ -->
    <!--https://developer.android.com/preview/behavior-changes#fg-svc -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AndroidTBT"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Developers should put application credentials here.To obtain them, please register the application
         at https://developer.here.com/develop/mobile-sdks-->
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="WYLi6ewvJcS9G8FQoM8i" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="l6MS1rmpXhHSehgIds6WiA" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="fOkXlR1JaX6qFHaUY2kVs/9ZVv/j0O2+4AghOqOa0Oj63cSXnyuPTk9werQGNQ1vvpXQ69dKbmLIJNcBQMFD+Hid96dJ2aAIKDd0KVVD0t4hQCigeaBvxVvlrABCN2i48/IDG6+IjrQjUQAdp/b582jGry7enVcCR90OXxbmCulQX2U0DjB3Agftp2f85TTDCYrpwDKexg4ggTR1nw6idfiIUWt1ggh9HzvnkMjgadkgwYjQl4zZKiKtyMbow2awK42fas6k2qQwB41A+61hQl5Oc8GRIUBQVVXELleDBJkSANCOnUxmxT3akMu1iGN+Udh93EgxFSdditIAbWcBrcaavqag+i7VvnXINGA72GallkD2n3qgk6PXwXv3fwQ2TYjZW3mlrDKlezTbl4Yp1uU7D7Pdq3IWZqgAq8wmKwL51gU+8SM/WN7AkxUy2uMUnLOwMA9bwXIpK4XpO44pb//SLILlw46Rrf/ShbYXjw+5nY6uwjAwllNQeefY9W+LzUa5LNEbA6G8LBIWfi7XYBCpPgCRquYHkfzApCvjdlz6DerUNJlLZFGpSIayG0qabl1ttrc2WnZUzGVARA7Y6BdDEvyyIaeXioYpqRTcOywKseBjD9fIIHnqv0QjCgjoBKTSgVXdcS5SV/mQxcQsVLEDtQQje1t03ng/xZFaDAA=" />

         <!--Developers should always provide custom values for each of {YOUR_LABEL_NAME} and {YOUR_INTENT_NAME}.
         Do not reuse HERE SDK defaults.-->
        <meta-data
            android:name="INTENT_NAME"
            android:value="HERE_Android_TBT" />
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HERE_Android_TBT"
            android:exported="false">
            <intent-filter>
                <action android:name="HERE_Android_TBT"></action>
            </intent-filter>
        </service>

        <service android:name=".ForegroundService" />
    </application>
</manifest>
